// --------------------------------------------------
// BACKGROUND
// --------------------------------------------------

$bg-color-primary: #F5F5F5;

// --------------------------------------------------
// BACKGROUND - END
// --------------------------------------------------

// --------------------------------------------------
// FONT(S)
// --------------------------------------------------

$font-color-primary: #141414;
$font-color-primary-alternate: #FFFFFF;

// --------------------------------------------------
// FONT(S) - END
// --------------------------------------------------