// ====================================================================================================
// 
// Name                 :
// base.scss
//
// Version              :
// 0.0.1
//
// Date of Creation     :
// 20 May 2022
//
// Summary              :
// A list of common stylesheet. Can be editable to fit into the application globally.
//
// ====================================================================================================

// --------------------------------------------------
// MAIN
// --------------------------------------------------

$color-main: #002029;
$color-secondary: #FFFAFA;

// --------------------------------------------------
// MAIN - END
// --------------------------------------------------

// --------------------------------------------------
// BACKGROUND
// --------------------------------------------------

$color-bg-primary: #FFFAFA;

// --------------------------------------------------
// BACKGROUND - END
// --------------------------------------------------

// --------------------------------------------------
// FONT(S)
// --------------------------------------------------

$font-family-main: "Poppins Medium";
$font-family-secondary: "Alegreya Sans SC Medium";

$font-family-header: "Alegreya Sans SC Medium";

$font-color-primary: #141414;
$font-color-primary-alternate: #FFFAFA;
$font-color-footer: #E8E8E8;

$font-size-list-item: 0.8rem;
$font-size-button: 0.85rem;
$font-size-input: 0.75rem;
$font-size-placeholder: 0.7rem;
$font-size-label: 0.85rem;
$font-size-message: 0.7rem;
$font-size-link: 0.6rem;

// --------------------------------------------------
// FONT(S) - END
// --------------------------------------------------

// --------------------------------------------------
// COLOR SCHEME(S)
//
// NOTE: Color Schemes do not affect the font color.
// It is a representation of different signs based on
// the color defined.
//
// Alternate colors will be used as the background color
// instead if border exists. The border color will
// take on the base color instead.
// --------------------------------------------------

// >!
// Base Color
// --------------------------------------------------

$color-scheme-base: #8FABB3;
$color-scheme-base-alternate: #002029;
$color-scheme-base-hover: #78868B;
$color-scheme-base-active: #475D64;
$color-scheme-base-disabled: rgba(0, 32, 41, 0.6);

// >!
// Primary Color
// --------------------------------------------------

$color-scheme-primary: #86a7b0;
$color-scheme-primary-alternate: #002029;
$color-scheme-primary-hover: #78868B;
$color-scheme-primary-active: #475D64;
$color-scheme-primary-disabled: rgba(0, 32, 41, 0.6);

// >!
// Success Color
// --------------------------------------------------

$color-scheme-success: #00E000;
$color-scheme-success-alternate: #00F600;
$color-scheme-success-hover: #00C900;
$color-scheme-success-active: #00B300;
$color-scheme-success-disabled: #93C493;

// >!
// Warning Color
// --------------------------------------------------

$color-scheme-warning: #FFAF38;
$color-scheme-warning-alternate: #EEB45E;
$color-scheme-warning-hover: #FFA621;
$color-scheme-warning-active: #FF9900;
$color-scheme-warning-disabled: #E8AC53;

// >!
// Danger Color
// --------------------------------------------------

$color-scheme-danger: #FF0000;
$color-scheme-danger-alternate: #F12121;
$color-scheme-danger-hover: #E30000;
$color-scheme-danger-active: #CC0000;
$color-scheme-danger-disabled: #FF6969;

// >!
// InputField Color
// --------------------------------------------------
$color-input-bg: #FFFAFA;

// --------------------------------------------------
// COLOR SCHEME(S) - END
// --------------------------------------------------

// --------------------------------------------------
// TRANSITION(S)
// --------------------------------------------------

$transition-mouse-events: 0.2s;

// --------------------------------------------------
// TRANSITION(S) - END
// --------------------------------------------------